# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.env
.venv
venv/
ENV/

# Config files 
*.conf
*.ini
*.env

# Logs
logs/
*.log

# Data files
*.csv
*.parquet

# Airflow
airflow/logs/
